.section {
    width: 100%;
    display: flex;

    &-text-box {
        width: 74%;
        display: flex;
        justify-content: flex-end;
    }

    &-text-content {
        padding: 17.7rem;
    }

    .heading-secondary {
        &-main {
            max-width: 35rem;
        }

        &-sub {
            max-width: 62.5rem;
        }
        
    }


    &-vertical {
        overflow-x: hidden;
        width: 26%;
        position: relative;
        flex: 1;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../../assets/photos/accueil/header-vertical.jpg);
            background-position: center;
            background-size: cover;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            display: block;
        }
        
    }
}